---
- hosts: webservers
  become: yes
  remote_user: ubuntu

  tasks:

    - name: Stop Spring Boot application
      command: sudo systemctl stop petclinic-api.service
 #     command: pkill -f java

    - name: Copy JAR file to remote node
      copy:
        src: target/petclinic.jar
        dest: deploy/petclinic.jar


    - name: Start Spring Boot application
      command: sudo systemctl start petclinic-api.service
